<h1>{{title}}</h1>
<div class="product-details">
    <p>Descripción: {{description}}</p>
    <p>Código: {{code}}</p>
    <p>Precio: ${{price}}</p>
    <p>Status: {{status}}</p>
    <p>Stock: {{stock}}</p>
    <p>Categoría: {{category}}</p>
    <!-- Botón para agregar al carrito -->
    <button onclick="addToCart('{{id}}')">Agregar al carrito</button>
</div>

<script>
    async function addToCart(id) {
        try {
            const response = await fetch(`/api/carts/675e2bc2fa1e670ca779a543/products/${id}`, { method: "POST" });
            if (response.ok) {
                alert("Producto agregado al carrito.");
            } else {
                alert("Error al agregar el producto al carrito.");
            }
        } catch (error) {
            console.error("Error al agregar al carrito:", error);
        }
    }
</script>